---
BasedOnStyle: Google
---
Language: Cpp
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
InsertNewlineAtEOF: true
InsertBraces: true
ReflowComments: false
