---
BasedOnStyle: Google
---
Language: Cpp
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
InsertNewlineAtEOF: true
ReflowComments: false
